body {
  font-size: 20px;
  font-family: "Times New Roman", Georgia, Serif;
}
.popup:hover{
  background: #D1D1D1;
  border-radius: 2px;
}
.chunk{
  display:inline-block;
  word-wrap: break-word;
  word-wrap: normal;
  /*padding-left: 5px;*/
}
.punctuation{
  display:inline-block;
}
.verse{
  padding-bottom: 15px;
}
.not-button{
  padding: 0;
  border: none;
  background: none;
}
.chapter{
  padding-bottom: 10px;
}
.flipped{
  border-bottom: 1px dotted #000;
  text-decoration: none;  
}

#peek{
  border-bottom: 1px dotted #ffffff;
  text-decoration: none;
}